@tailwind base;
@tailwind components;
@tailwind utilities;



.nav-logo {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 0 28px;
    font-weight: 900;
    font-size: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 28px;
    padding: 20px;
}

.nav-links li:hover {
    color: #06b6d4; /* Cyan-500 color on hover */
}

